.modal-content {
    border: 11px #0D4689 solid;
    border-radius: 28px;
    .contact {
        .title {
            float: right;
            font-size: 32px;
            margin: 21px 172px;
            font-family: topdoc-bold;
            color: #0D4689;
        }
        .title, .cancel {
            display: inline-block;
        }
        .cancel {
            background-image: url("/img/cc.png");
            width: 80px;
            height: 88px;
            background-size: 89%;
            background-repeat: no-repeat;
            margin-top: -31px;
            margin-left: -23px;
        }

        form {
            direction: rtl;
            .form-group {
                .submit {
                    width: 131px;
                    height: 51px;
                    float: left;
                    margin-left: 35px;
                    background: white;
                    border: 2px #0D4689 solid;
                    font-size: 20px;
                    font-family: topdoc-bold;
                    border-radius: 20px;
                    margin-top: 13px;
                }
            }
            label, .edit {
                display: inline-block;
            }
            label {
                width: 29%;
                margin-right: 114px;
                font-size: 15px;
                font-family: topdor-reg;
                color: #0D4689;
            }
            .edit {
                .form-control {
                    direction: ltr;
                }
            }
        }
    }
}
